.carousel-grand{
    max-width:1200px;
    height:400px;
    overflow:hidden;
}

.image-carousel-grand{
    width:1200px;
}

.thumbnail-div-medium{
    height:150px;
    overflow:hidden;
}

.color-medium-gris{
    color: #595959;
}

.width-1{
    width:1%;
}
.width-20{
    width:20%;
}
.width-50{
    width:50%;
}
.width-80{
    width:80%;
}
.width-100{
    width:100%;
}

.padding-small{
    padding:5px;
}
.padding-medium{
    padding:15px;
}

.display-block{
    display:block;
}

#divMessages{
    list-style-type: none;
    max-height: 400px;
    overflow-y: scroll;
}

#divMessages{
    list-style-type: none;
    max-height: 400px;
    overflow-y: scroll;
}

.img-table{
    width:150px;
}

.img-centre{
    left:25%;
    position:relative;
}

.input-required{
    color:red;
}

.align-bottom{
    vertical-align: bottom;
}

.caret-gris{
    border-top-color: #999 !important;
    border-bottom-color: #999 !important;
}